{% extends 'layout.html' %}
{% load static %}
{% block custom-style %}
<link href="{% static 'lib/datatables/datatables.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- header section strats -->
{% include 'includes/header.html'  %}
<!-- end header section -->
  <!-- service section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Complaints List
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="box">

<div class="row">
<div class="col-lg-12">
{% if messages %}
<ul class="messages text-center">
{% for message in messages %}
<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
</div>
</div>

<div class="row">
<div class="col-md-12" style="background-color: white; min-height: 400px; padding: 20px;">
<u>Assitance Details</u>
  {% if complaints_list.count > 0 %}
                  <table id="example" class="stripe" style="width:100%; background-color: white; padding: 15px;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Status</th>
                                <th>Full Name</th>
                                <th>Mobile Number</th>
                                <th>Email</th>
                                <th>Location</th>
                                <th>Date Added</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for row in complaints_list %}
                             <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.status }}</td>
                                <td>{{ row.public_user.firstname }} {{ row.public_user.lastname }}</td>
                                <td>{{ row.public_user.mobilenumber }} </td>
                                <td>{{ row.public_user.email }}</td>
                                <td>{{ row.location_text }}</td>
                                <td>{{ row.date_added }}</td>
                  <td>
                    {% if row.status == 'open' %}
                    <a href="{% url 'mechanic:complaints_views' id=row.unique_id %}" type="button" class="btn btn-info btn-sm">View</a>
                     {% else %}
                     <button disabled type="button" class="btn btn-info btn-sm">View</button>
                     {% endif %}
                  </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                              <th>#</th>
                              <th>Status</th>
                              <th>Full Name</th>
                              <th>Mobile Number</th>
                              <th>Email</th>
                              <th>Location</th>
                              <th>Date Added</th>
                              <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                  {% else %}
                  <b>No complaints added yet</b>
                  {% endif %}

</div>
</div>


</div>
        </div>
      </div>
    </div>
  </section>
  <!-- end service section -->
  <!-- info section -->
  <!-- end info section -->
  <!-- footer section -->
  {% include 'includes/footer.html'  %}
  <!-- footer section -->
  {% endblock %}
  {% block custom-js %}
  <script type="text/javascript" src="{% static 'lib/datatables/datatables.js' %}"></script>
  <script>
  $(document).ready(function() {
      $('#example').DataTable();
  } );
  </script>
  {% endblock %}
